body{
    font-family: 'Raleway', sans-serif
}
a:hover{
    text-decoration:underline;
}
.head{
}
.heads{

}
.head__develop{
    font-weight: 700;
    position: absolute;
    top: 38px;
    left: 80px;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border:2px solid;
    border-radius: 8px;
}
.head__work{
    width: 58px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position:absolute;
    top: 38px;
    left: 510px;
}
.head__process{ 
    width: 68px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position:absolute;
    top: 38px;
    left: 710px;
}
.head__about{  
    width: 66px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position:absolute;
    top: 38px;
    left: 810px;
}
.head__service{
    width: 53px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position:absolute;
    top: 38px;
    left: 610px;
}
.head__contacnts{
    width: 73px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position:absolute;
    top: 38px;
    left: 910px;
}
.article{
    width: 100%;
}
.article__main{
    font-size: 46px ;
    text-align: center;
    width: 804px;
    height: 128px;
    display: block;
    position: absolute;
    left: 355px;
    top: 140px;
}
.article__smain{
    width: 484px;
    height: 48px;
    text-align: center;
    margin-top: 20px;
    display: block;
    position: absolute;
    left: 505px;
    top: 280px;
}
.button{
    margin-top: 380px;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.button__tg{
    padding: 9px 14px 10px;
    gap: 4px;
    font-size: 16px;
    width: 190px;
    height: 46px;
    color:white;
    background:black;
    border-radius: 8px;  
}
.button__ig{
    padding: 9px 14px 10px;
    gap: 4px;
    font-size: 16px;
    width: 190px;
    height: 46px;
    color:black;
    background:white;
    border-radius: 8px;  
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px 2px;
    gap: 8px;
    width: 62px;
    height: 32px;
    border-radius: 10000px;
    margin-bottom: 30px;
}
.navigation__all{
    margin-left: 508px;
    gap: 8px;
    width: 30px;
    height: 24px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    border: 1px solid;
    border-radius:1000px;
    background:black;
    color:white;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.navigation__design{
    width: 59px;
    height: 24px;
    gap: 8px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    border: 1px solid;
    color:black;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
.navigation__site{
    width: 114px;
    height: 24px;
    gap: 8px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    border: 1px solid;
    color:black;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
.navigation__development{
    width: 91px;
    height: 24px;
    gap: 8px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    border: 1px solid;
    color:black;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
.image{
    width: 95%;
    height: 550px;
    margin-left: 2.5%;
}
.image1{
    width: 47.5%;
    margin-left: 2.5%;
}
.image2{
    width: 47.5%;
}
.image3{
    width: 95%;
    height: 550px;
    margin-left: 2.5%;
}
.image4{
    width: 47.5%;
    margin-left: 2.5%;
}
.image5{
    width: 47.5%;

}
.aboutme{
    display:flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.aboutme__photo{
    margin-left: 250px;
    width: 20%;
    height: 400px;
    border-radius:24px;
    border: 2px solid;
}
.aboutme__textme{
    margin-top: 30px;
    width: 50%;
    margin-left: 40px;
}
.aboutmain{
    text-align: center;
}
.aboutmesmain{
    width: 80%;
    padding-left: 100px;
}
.aboutmesmain1{
    width:80%;
    padding-left:100px;
    padding-top: 20px;
}
.aboutmesmain2{
    width:80%;
    padding-left:100px;
    padding-top: 20px;
}
.uslugi{
    height: 768px;
    width: 100%;
    background: black;
}
.uslugi__into__main{
    padding-top: 100px;
    padding-bottom: 60px;
    color:white;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    height: 64px;
    text-align: center;
}
.uslugi__block1{
    position: absolute;
    left: 100px;
    width: 368px;
    height: 384px;
    background:white;
    border-radius: 16px;

}
.uslugi__into__block1{
    padding: 40px;
}
.uslugi__number1{
    width: 288px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
opacity: 0.5;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.info__main__block1{
    width: 288px;
height: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.info__into__block1{
    width: 288px;
height: 96px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.line1{
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid black;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.price1{
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block2{
    position: absolute;
    width: 368px;
    height: 384px;
    background:white;
    border-radius: 16px;
    left: 580px;
}
.uslugi__into__block2{
    padding: 40px;
}
.uslugi__number2{
    width: 288px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
opacity: 0.5;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.info__main__block2{
    width: 288px;
height: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.info__into__block2{
    width: 288px;
height: 96px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.line2{
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid black;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.price2{
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.uslugi__block3{
    position: absolute;
    width: 368px;
    height: 384px;
    background:white;
    border-radius: 16px;
    right: 100px;
}
.uslugi__into__block3{
    padding: 40px;
}
.uslugi__number3{
    width: 288px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
opacity: 0.5;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.info__main__block3{
    width: 288px;
height: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.info__into__block3{
    width: 288px;
height: 96px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.line3{
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid black;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.price3{
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.img1{
    width: 90px;
    height: 90px;
    border: 1px solid;
    border-radius: 30px;
    color:white;
    position: absolute;
    top: 60px;
    right: 100px;
}
.img2{
    width: 28px;
    height: 28px;
    border: 1px solid;
    border-radius: 30px;
    color:white;
    position: absolute;
    top: 200px;
    left: 200px;
}
.img3{
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 30px;
    color:white;
    position: absolute;
    top: 400px;
    right: 250px;
}
.podschet{
    height: 850px;
    width: 100%;
}
.podschet__mainarticle{
    text-align: center;
    font-size: 35px;
}
.questions{
    width: 100%;
    height: 1132px;
    background: black;
}
.questions__article{
    padding-bottom: 40px;
    color:white;
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
}
.only_desing{
    height: 88px;
    width: 1160px;
    background: white;
    border-radius:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px;
    gap: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 135px ;
}
.text__design{
    width: 239px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.why__tild{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 32px;
    gap: 24px;
    width: 1160px;
    height: 328px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 16px;
    margin-left: 135px;
}
.why__tild__main{
    width: 147px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.what__terms{
    height: 88px;
    width: 1160px;
    background: white;
    border-radius:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px;
    gap: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 135px ;
    margin-top: 16px;
}
.what__termst{
    width: 239px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about__payment{
    height: 88px;
    width: 1160px;
    background: white;
    border-radius:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px;
    gap: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 135px ;
    margin-top: 16px;
}
.how__to__pay{
    width: 239px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about__edits{
    height: 88px;
    width: 1160px;
    background: white;
    border-radius:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px;
    gap: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 135px ;
    margin-top: 16px;
}
.how__many__edits{
    width: 322px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about__projects{
    height: 88px;
    width: 1160px;
    background: white;
    border-radius:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px;
    gap: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 135px ;
    margin-top: 16px;
}
.do__you__work{
    width: 357px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.connection{
    width: 100%;
    height: 750px;
}
.connection__mainarticle{
    text-align: center;
    margin-top: 80px;
}
.connection__smainarticle{
    text-align: center;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 40px 24px;
    width: 410px;
    height: 472px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    margin-left: 524px;
    margin-bottom: 100px;
    
}
.name{
    padding: 0px 10px;
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    border: 1px solid #CCCCCC;
}
.mail{
    padding: 0px 10px;
    color: #808080;
    border: 1px solid #CCCCCC;
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.usluga{
    padding: 0px 10px;
    color: #808080;
    border: 1px solid #CCCCCC;
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.comment{
    padding: 0px 10px;
    color: #808080;
    border: 1px solid #CCCCCC;
    width: 400px;
    height: 160px;
    background: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.otpravka{
    color: #808080;
    border: 1px solid #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;
    width: 410px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    flex: none;
    order: 4;
    flex-grow: 0;
    color:white;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}